.icon-list {
    font-size: 1.5em;
}

.handwritten {
    font-family: "Mr Dafoe", cursive;
}

img.portfolio-image {
    width: 15rem;
}
#Projects-header {
    font-size: 3rem;
    text-align: center !important;
}
/* #python-img {

} */
.lang-titles {
    /* text-decoration: underline; */
}

.lang-titles small {
    font-size: 1rem;
    text-decoration: none;
}

.project-section {
    margin-bottom: 1.5rem;
    padding: 1rem;
    height: 350px;
}
